body {
    font-family: sans-serif;
}

header {
    background-color: white;
    padding: 5px;
}

.logo {
width: 209px;
height: 167px;
}

nav{
    margin: 10px;
    text-align: center;
   
}

nav a {
    text-decoration: none;
    padding-right: 60px;
    color:black;
   
}

.main_img{
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 36px;
    color: red;
    font-weight: normal;
    padding-bottom: 5px;
    text-align: center;
}


footer {
    background-color: white;
    padding: 10px;
}

footer p {
    background-color: white;
    padding: 5px;
 }

footer a {
    background-color: red;
    color:white;
    text-decoration: none;
    font-size: 16 px;
    padding: 10px 25px;
    border-radius: 10px;

}
